<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
		<div th:fragment="container-fluid"  class="container-fluid">
			<script type="text/javascript">
				$(function(){
					pageQueryParams.index = '[[${pageTools.index}]]';
					pageQueryParams.pageSize = '[[${pageTools.pageSize}]]';
					pageQueryParams.total = '[[${pageTools.total}]]';
					
					$("#queryBTN").click(function(){
						var dataParams = $("#queryFrom").serialize(); 
						pageQueryParams.fromQueryData=dataParams;
						render(pageQueryParams);  // 渲染页面函数
					});
					
					$("[data-toggle='popover']").popover();
					
					initTimePicker();
					
					$("a[data-user-id]").click(function(){
						var id = $(this).attr("data-user-id");
						var targetUrl = "/userList/pwdReset.ser";
						$.ajax({ 
							type:'post',  
							url:targetUrl, 
							cache: false,
							data:{userID:id},  
							dataType:'json', 
							success:function(data){  
								toastr.success("密码重置成功"); 
								render(pageQueryParams);  // 渲染页面函数
							},
							error:function(data){ 
								if(data.responseJSON){
									toastr.error(dataParams+"密码重置失败:"+data.responseJSON.message); 
								}
							}
						})
					});
					
				});
			</script>
			<h3 class="page-title">提现单管理</h3>
			<div class="row">
				<div class="col-md-12">
					<!-- TABLE HOVER -->
					<div class="panel panel-info">
						<form class="form-inline" id="queryFrom">
							<div class="panel-body">
									<div class="form-group col-sm-2">
										<label>单号</label><br>
										<input type="text" class="form-control"  placeholder="单号" name="orderNo"
											   th:attr="value=${queryObject==null}?'':${queryObject.orderNo}">
									</div>
									<div class="form-group col-sm-2">
										<label>用户编号</label><br>
										<input type="text" class="form-control"  placeholder="用户编号" name="uId"
											th:attr="value=${queryObject==null}?'':${queryObject.uId}">
									</div>
									<div class="form-group col-sm-2">
										<label>姓名</label><br> 
										<input type="text" class="form-control"  placeholder="姓名" name="realName"
											th:attr="value=${queryObject==null}?'':${queryObject.realName}">
									</div>
									<div class="form-group col-sm-2">
										<label>状态</label><br>
										<select class="form-control" name="states">
											<option value="" >===请选择===</option>
											<option th:selected="${queryObject.states=='initial'}" value="initial">待转账</option>
											<option th:selected="${queryObject.states=='processing'}" value="processing">出款中</option>
											<option th:selected="${queryObject.states=='success'}" value="success">成功</option>
											<option th:selected="${queryObject.states=='failed'}" value="failed">失败</option>
										</select>

									</div>
							</div>
							<div class="panel-body border-up-down">
									<div class="btn-right"> 
										<div class="btn-group">
											<button id="queryBTN" type="button" class="btn btn-default">
											<i class="fa fa-search"></i> 查询
											</button>
										</div>
									</div>
							</div>
						</form>
						<div class="panel-body table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>单号</th>
										<th>用户编号</th>
										<th>用户姓名</th>
										<th>提现金额</th>
										<th>银行卡号</th>
										<th>支行信息</th>
										<th>处理状态</th>
										<th>提现时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj : ${resultList}">
										<td th:text="${obj.orderNo}"></td>
										<td th:text="${obj.uId}"></td>
										<td th:text="${obj.realName}"></td>
										<td th:text="${obj.amount}"></td>
										<td th:text="${obj.bankCardNo}"></td>
										<td th:text="${obj.branchInfo}"></td>
										<td th:text="${obj.statesStr}"></td>
										<td th:text="${obj.createTimeStr}"></td>
										<td>
											<div th:if="${obj.states=='initial'}" class="btn-group">
												<a class="btn btn-default btn-sm " data-toggle="modal" data-target="#ModifyModal"
													th:attr="href='/withdrawList/primaryModalView.ser?modifyModel=auditEdit.ser&recordId='+${obj.id}+'&states=success'" >
													 <span class="glyphicon glyphicon-edit"></span>&nbsp;转账成功
													 <i class="icon-star"></i>
												</a>
												<a class="btn btn-default btn-sm" data-toggle="modal" data-target="#ModifyModal"  th:attr="href='/withdrawList/primaryModalView.ser?modifyModel=auditEdit.ser&recordId='+${obj.id}+'&states=failed'" >
													 <span class="glyphicon glyphicon-cog"></span>&nbsp;转账失败
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="panel-footer">
							<ul class="pagination" >

							</ul>
						</div>
					</div>
					<!-- END TABLE HOVER -->
				</div>
			</div>
		</div>
</body>
</html>