<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="./neighbor/css/mui.min.css" rel="stylesheet" th:href="@{~/neighbor/css/mui.min.css}" />
<link rel="stylesheet" type="text/css" href="./neighbor/css/font-awesome.min.css"
	th:href="@{~/neighbor/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="./neighbor/css/app.css"
	th:href="@{~/neighbor/css/app.css}" />
<link rel="stylesheet" type="text/css" href="./neighbor/js/swiper/css/swiper.css"
	th:href="@{~/neighbor/js/swiper/css/swiper.css}" />

<script th:src="@{~/neighbor/js/mui.min.js}"></script>
<script th:src="@{~/neighbor/js/jquery-2.1.0.js}" src="./neighbor/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script th:src="@{~/neighbor/js/layer_mobile/layer.js}" src="./neighbor/js/layer_mobile/layer.js" type="text/javascript" charset="utf-8"></script>
<script th:src="@{~/neighbor/js/swiper/js/swiper.min.js}" src="./neighbor/js/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script th:src="@{~/neighbor/js/config.js}" src="./neighbor/js/config.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	mui.init();
</script>

</head>

<body>
	<!--to 程序员-->
	<!--a 标签如果需要加 链接跳转，加data-href属性。后面接链接。-->
	<!--<a href="" data-href="#如果a链接跳转就把链接写到这里"></a>-->
	<!--<div data-href="如果a链接跳转就把链接写到这里"></div>-->

	<!-- header -->
	<header class="mui-bar mui-bar-nav" layout:fragment="fragment-header">
		<h1 class="mui-title">好邻居</h1>
		<a class="mui-btn-link mui-pull-right a-kefu" data-href="#如果a链接跳转就把链接写到这里">
			<small>在线客服</small>
		</a>
	</header>
	<!-- END header -->
	<nav class="mui-bar mui-bar-tab">
		<a id="nav-1" class="mui-tab-item" data-href="#如果a链接跳转就把链接写到这里">
			<span class="mui-icon icon-nav1"></span>
			<span class="mui-icon icon-nav1-active"></span>
			<span class="mui-tab-label">聊天</span>
		</a>
		<a id="nav-2" class="mui-tab-item" data-href="#如果a链接跳转就把链接写到这里">
			<span class="mui-icon icon-nav2"></span>
			<span class="mui-icon icon-nav2-active"></span>
			<span class="mui-tab-label">通讯录</span>
		</a>
		<a id="nav-3" class="mui-tab-item" data-href="/index">
			<span class="mui-icon icon-nav3"></span>
			<span class="mui-icon icon-nav3-active"></span>
			<span class="mui-tab-label">游戏</span>
		</a>
		<a id="nav-4" class="mui-tab-item" data-href="商城.html">
			<span class="mui-icon icon-nav4"></span>
			<span class="mui-icon icon-nav4-active"></span>
			<span class="mui-tab-label">商城</span>
		</a>
		<a id="nav-5" class="mui-tab-item" data-href="/user">
			<span class="mui-icon icon-nav5"></span>
			<span class="mui-icon icon-nav5-active"></span>
			<span class="mui-tab-label">个人中心</span>
		</a>
	</nav>

	<!-- WRAPPER -->
	<div class="mui-content" layout:fragment="mui-content"></div>
	<!-- END WRAPPER -->


	<div id="indexpopover" class="mui-popover">
		<div class="hd">系统公告</div>
		<div class="bd">
			系统公告文字按实际为准，此文字仅此展示作用别当真，系统公告文字按实际为准，此文字仅此展示作用别当真，系统公告文字按实际为准，此文字仅此展示作用别当真。系统公告文字按实际为准，此文字仅此展示作用别当真，系统公告文字按实际为准，此文字仅此展示作用别当真，系统公告文字按实际为准，此文字仅此展示作用别当真。
		</div>
		<div class="ft mui-text-right">
			<button type="button" class="mui-btn mui-btn-red" close>确定</button>
		</div>
	</div>

	<script type="text/javascript">
		//打开页面出现的弹出框
		mui("#indexpopover").popover('show')
	</script>

	<script th:src="@{~/neighbor/js/config.js}" src="./neighbor/js/config.js" type="text/javascript"
		charset="utf-8"></script>

</body>

</html>
