<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body>
		<!-- NAVBAR -->
		<div th:fragment="sidebar-nav" id="sidebar-nav" class="sidebar">
			<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/
			var menuId = /*[[${session.menuId}]]*/;
			/*]]>*/
				$(function(){


				})
			</script>
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav"> 
						<li><a href="/index.ser" id="menu-1"><i class="lnr lnr-home"></i> <span>主页</span></a></li>
						<li><a href="#" data-href="/robot" id="menu-2"><i class="fa fa-android"></i> <span>机器人维护</span></a></li>
						<li><a href="#" data-href="/product" id="menu-4"><i class="fa fa-product-hunt"></i> <span>产品管理</span></a></li>
						<li><a href="#" data-href="/cms" id="menu-5"><i class="glyphicon glyphicon-facetime-video"></i> <span>广告管理</span></a></li>
						<li th:if="${session.user.isAdmin()}"><a href="#" data-href="/userList" id="menu-7"><i class="glyphicon glyphicon-headphones"></i> <span>客服管理</span></a></li>
						<li th:if="${session.user.isAdmin()||session.user.isKF()}"><a href="#" data-href="/withdrawList" id="menu-7"><i class="glyphicon glyphicon-credit-card"></i> <span>提现单管理</span></a></li>
						<li th:if="${session.user.isAdmin()||session.user.isKF()}"><a href="#" data-href="/rechargeList" id="menu-7"><i class="glyphicon glyphicon-usd"></i> <span>充值单管理</span></a></li>
						<li th:if="${session.user.isAdmin()}"><a href="#" data-href="/groupList" id="menu-7"><i class="fa fa-users"></i> <span>群管理</span></a></li>
						<li ><a href="#" data-href="/gameList" id="menu-7"><i class="fa fa-users"></i> <span>游戏管理</span></a></li>
						<!-- 
						<li><a href="#" data-href="/revisit" id="menu-3"><i class="lnr lnr-bubble"></i> <span>回访记录</span></a></li>

						<li><a href="#" data-href="/consume" id="menu-5"><i class="glyphicon glyphicon-credit-card"></i> <span>会员消费</span></a></li>
						<li><a href="#" data-href="/sign" id="menu-6"><i class="glyphicon glyphicon-heart"></i> <span>客服签到记录</span></a></li>

						<li th:if="${session.user.isAdmin()}"><a href="#" data-href="/serve/wechat" id="menu-8"><i class="glyphicon glyphicon-phone"></i> <span>服务微信管理</span></a></li>
						<li th:if="${session.user.isAdmin()}">
							<a href="#costPage" data-toggle="collapse" id="menu-13">
								<i class="glyphicon glyphicon-ruble"></i> 
								<span>成本记录</span> 
								<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="costPage" class="collapse">
								<ul class="nav">
									<li th:if="${session.user.isAdmin()}">
										<a href="#" data-href="/procurement" id="menu-9">
										<i class="glyphicon glyphicon-shopping-cart"></i> 
										<span>采购信息</span></a>
									</li>
									<li th:if="${session.user.isAdmin()}">
										<a href="#" data-href="/adRecharge" id="menu-10">
										<i class="glyphicon glyphicon-cd"></i> 
										<span>广告充值记录</span></a>
									</li>
									<li th:if="${session.user.isAdmin()}">
										<a href="#" data-href="/adConsume" id="menu-11">
										<i class="glyphicon glyphicon-hd-video"></i> 
										<span>广告消费记录</span></a>
									</li>
									<li><a href="#" data-href="/serverSalary" id="menu-12">
										<i class="glyphicon glyphicon-piggy-bank"></i> 
										<span>薪资记录</span></a>
									</li>
								</ul>
							</div>
						</li>
						<li th:if="${session.user.isAdmin()}">
							<a href="#reportPage" data-toggle="collapse" id="menu-14">
								<i class="lnr lnr-chart-bars"></i>
								<span>报表汇总</span>
								<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="reportPage" class="collapse" aria-expanded="false">
								<ul class="nav">
									<li><a href="#" data-href="/report/saleSummary" id="menu-sub-3">销售业绩汇总</a></li>
									<li><a href="#" data-href="/report/saleSummary" id="menu-sub-1">客服销售业绩</a></li>
									<li><a href="#" data-href="/report/saleSummary" id="menu-sub-2">广告消耗统计</a></li>
								</ul>
							</div>
						</li>
						
						
						<li><a href="#" id="menu-6"><i class="lnr lnr-chart-bars"></i> <span>我的业绩</span></a></li>
						
						
						<li><a href="/home" class=""><i class="lnr lnr-chart-bars"></i> <span>test</span></a></li>
						<li><a href="/page/charts.html" class=""><i class="lnr lnr-earth"></i> <span>客服信息</span></a></li>
						<li><a href="/page/panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="/page/notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="/page/page-profile.html" class="">Profile</a></li>
									<li><a href="/page/page-login.html" class="">Login</a></li>
									<li><a href="/page/page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
						 
						<li><a href="/page/tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="/page/typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="/page/icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
						-->
					</ul>
				</nav>
			</div>
		</div>
		<!-- END NAVBAR -->
    </body>

</html>