<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.app.bankcard.dao.BankCardMapper">
  <resultMap id="BaseResultMap" type="com.neighbor.app.bankcard.entity.BankCard">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="branch_info" jdbcType="VARCHAR" property="branchInfo" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, u_id, bank_card_no, branch_info, real_name
  </sql>
  
  	<sql id="dynamicWhere">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="uId != null">and u_id=#{uId}</if>
			<if test="bankCardNo != null and bankCardNo.length()>0">and bank_card_no=#{bankCardNo}</if>
			<if test="realName != null and realName.length()>0">and real_name=#{realName}</if>
		</where>
	</sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from k_bank_card
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from k_bank_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
 
  <insert id="insertSelective" parameterType="com.neighbor.app.bankcard.entity.BankCard">
    insert into k_bank_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="bankCardNo != null">
        bank_card_no,
      </if>
      <if test="branchInfo != null">
        branch_info,
      </if>
      <if test="realName != null">
        real_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="bankCardNo != null">
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="branchInfo != null">
        #{branchInfo,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neighbor.app.bankcard.entity.BankCard">
    update k_bank_card
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="bankCardNo != null">
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="branchInfo != null">
        branch_info = #{branchInfo,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
 
</mapper>