<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.common.dictionary.dao.DictionaryMapper">
	<resultMap id="BaseResultMap" type="com.neighbor.common.dictionary.entity.Dictionary">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="parent_id" jdbcType="INTEGER" property="parentId" />
		<result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
		<result column="remarke" jdbcType="VARCHAR" property="remarke" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, name, code, status, parent_id, biz_code, remarke
	</sql>

	<sql id="dynamicWhere">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="name != null and name.length()>0">and name=#{name}</if>
			<if test="code != null and code.length()>0">and code=#{code}</if>
			<if test="status != null">and status = #{status}</if>
			<if test="bizCode != null and bizCode.length()>0">and biz_code = #{bizCode} </if>
			<if test="parentId != null">and parent_id = #{parentId} </if>
			<if test="remarke != null and remarke.length()>0">and remarke like concat('%',#{remarke},'%')</if>
		</where>
	</sql>

	<select id="selectPageByObjectForList" parameterType="com.neighbor.common.dictionary.entity.Dictionary"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dictionary
		<include refid="dynamicWhere" />
		order by id
		limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>

	<select id="selectPageTotalCount" parameterType="com.neighbor.common.dictionary.entity.Dictionary"
		resultType="Long">
		select
		count(1)
		from dictionary
		<include refid="dynamicWhere" />
	</select>
	
	<select id="selectBySelective" parameterType="com.neighbor.common.dictionary.entity.Dictionary"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dictionary 
		<include refid="dynamicWhere" />
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dictionary
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		dictionary
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.neighbor.common.dictionary.entity.Dictionary">
		insert into dictionary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="bizCode != null">
				biz_code,
			</if>
			<if test="remarke != null">
				remarke,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="bizCode != null">
				#{bizCode,jdbcType=VARCHAR},
			</if>
			<if test="remarke != null">
				#{remarke,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.neighbor.common.dictionary.entity.Dictionary">
		update dictionary
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="bizCode != null">
				biz_code = #{bizCode,jdbcType=VARCHAR},
			</if>
			<if test="remarke != null">
				remarke = #{remarke,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>