<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neighbor.app.game.dao.GameMapper" >
  <resultMap id="BaseResultMap" type="com.neighbor.app.game.entity.Game" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_type" property="gameType" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, game_name, game_type
  </sql>
  
  <sql id="dynamicWhere">
    <where>
      <if test="id != null">and id=#{id}</if>
      <if test="createTime != null ">and create_time=#{createTime}</if>
      <if test="updateTime != null ">and update_time=#{updateTime}</if>
      <if test="gameName != null and gameName.length()>0">and game_name=#{gameName}</if>
      <if test="gameType != null">and game_type=#{gameType}</if>
    </where>
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from game
    order by create_time
  </select>

  <select id="selectPageByObjectForList" parameterType="com.neighbor.app.game.entity.Game"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from game
    <include refid="dynamicWhere" />
    order by create_time desc
    limit #{pageTools.rowIndex},#{pageTools.pageSize}
  </select>

  <select id="selectPageTotalCount" parameterType="com.neighbor.app.game.entity.Game"
          resultType="Long">
    select
    count(1)
    from game
    <include refid="dynamicWhere" />
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from game
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from game
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <insert id="insertSelective" parameterType="com.neighbor.app.game.entity.Game" >
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="gameType != null" >
        game_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null" >
        #{gameType,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neighbor.app.game.entity.Game" >
    update game
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null" >
        game_type = #{gameType,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>