<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.common.websoket.dao.SocketMessageMapper">
    <resultMap id="BaseResultMap" type="com.neighbor.common.websoket.po.SocketMessage">
        <id column="msg_id" jdbcType="BIGINT" property="msgId"/>
        <result column="request_id" jdbcType="VARCHAR" property="requestId"/>
        <result column="header" jdbcType="VARCHAR" property="header"/>
        <result column="master_msg_type" jdbcType="VARCHAR" property="masterMsgType"/>
        <result column="chat_type" jdbcType="VARCHAR" property="chatType"/>
        <result column="msg_type" jdbcType="VARCHAR" property="msgType"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="send_user_id" jdbcType="BIGINT" property="sendUserId"/>
        <result column="target_user_id" jdbcType="BIGINT" property="targetUserId"/>
        <result column="target_group_id" jdbcType="BIGINT" property="targetGroupId"/>
        <result column="biz_id" jdbcType="VARCHAR" property="bizId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="send_user_delete_flag" jdbcType="VARCHAR" property="sendUserDeleteFlag"/>
        <result column="target_user_delete_Flag" jdbcType="VARCHAR" property="targetUserDeleteFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
		msg_id,request_id, header,master_msg_type, chat_type, msg_type, status, send_user_id, target_user_id,
		target_group_id,biz_id, content, date, time,send_user_delete_flag,target_user_delete_Flag
	</sql>
    <sql id="dynamicWhere">
        <where>
            <if test="msgId != null">and msg_id=#{msgId}</if>
            <if test="requestId != null and requestId.length>0">and request_id=#{requestId}</if>
            <if test="bizId != null and bizId.length>0">and biz_id=#{bizId}</if>
            <if test="masterMsgType != null and masterMsgType.length>0">and master_msg_type=#{masterMsgType}</if>
            <if test="chatType != null and chatType.length>0">and chat_type=#{chatType}</if>
            <if test="msgType != null and msgType.length>0">and msg_type=#{msgType}</if>
            <if test="status != null and status.length>0">and status=#{status}</if>
            <if test="sendUserId != null">and send_user_id=#{sendUserId}</if>
            <if test="targetUserId != null">and target_user_id=#{targetUserId}</if>
            <if test="targetUserNotNull != null">and target_user_id is not null</if>
            <if test="targetGroupId != null">and target_group_id=#{targetGroupId}</if>
            <if test="date != null and date.length>0">and date=#{date}</if>
            <if test="time != null and time.length>0">and time=#{time}</if>
            <if test="sendUserDeleteFlag != null and sendUserDeleteFlag.length>0">and send_user_delete_flag=#{sendUserDeleteFlag}</if>
            <if test="targetUserDeleteFlag != null and targetUserDeleteFlag.length>0">and target_user_delete_Flag=#{targetUserDeleteFlag}</if>
        </where>
    </sql>

    <select id="selectPageTotalCount" parameterType="java.util.Map"
            resultType="Long">
	  select count(1) from (
	  	select 1 from chat_message c 
	  	where c.`status`= 'complete' 
	  	and c.master_msg_type='1'
	  	and c.send_user_id = #{friendId,jdbcType=BIGINT} 
	  	and c.target_user_id = #{userId,jdbcType=BIGINT}
        <if test="msgId != null ">  <![CDATA[ and msg_id < #{msgId,jdbcType=BIGINT} ]]> </if>
	UNION ALL
		select 1 from chat_message a
		where a.send_user_id = #{userId,jdbcType=BIGINT}
		and a.master_msg_type='1'
		and a.target_user_id = #{friendId,jdbcType=BIGINT}
        <if test="msgId != null ">  <![CDATA[ and msg_id < #{msgId,jdbcType=BIGINT} ]]> </if>
        ) b
	</select>

    <select id="selectPageByObjectForList" parameterType="java.util.Map"
            resultMap="BaseResultMap">
     select b.* from (
		select c.* from chat_message c 
		where c.`status`= 'complete' 
		and c.master_msg_type='1'
		and c.send_user_id = #{friendId,jdbcType=BIGINT} 
		and c.target_user_id = #{userId,jdbcType=BIGINT}
        and c.target_user_delete_Flag = '0'
		<if test="msgId != null ">  <![CDATA[ and msg_id < #{msgId,jdbcType=BIGINT} ]]> </if>
      	UNION ALL
		select a.* from chat_message a 
		where  a.send_user_id = #{userId,jdbcType=BIGINT} 
		and a.master_msg_type='1'
		and a.target_user_id = #{friendId,jdbcType=BIGINT}
        and a.send_user_delete_flag = '0'
        <if test="msgId != null ">  <![CDATA[ and msg_id < #{msgId,jdbcType=BIGINT} ]]> </if>
      ) b
      order by b.msg_id desc
      limit #{rowIndex},#{pageSize}
    </select>

    <select id="selectGroupPageTotalCount" parameterType="java.util.Map"
            resultType="Long">
     select count(1) from chat_message c
	 inner join msg_group_menber_relationship r on c.msg_id = r.r_msg_id
	 where  r_user_id = #{userId}
	 and r.status='complete'
	 and target_group_id=#{targetGroupId}
	  <if test="msgId != null ">  <![CDATA[ and r.r_msg_id < #{msgId,jdbcType=BIGINT} ]]> </if>
	</select>

    <select id="selectGroupPageByObjectForList" parameterType="java.util.Map"
            resultMap="BaseResultMap">
     select c.* from chat_message c
	 inner join msg_group_menber_relationship r on c.msg_id = r.r_msg_id
	 where  r_user_id = #{userId}
	 and r.status='complete'
	 and target_group_id=#{targetGroupId}
	 <if test="msgId != null ">  <![CDATA[ and r.r_msg_id < #{msgId,jdbcType=BIGINT} ]]> </if>
     order by c.msg_id desc
     limit #{rowIndex},#{pageSize}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat_message
        where msg_id = #{msgId,jdbcType=BIGINT}
    </select>

    <select id="selectByStatus" parameterType="String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat_message
        where status = #{status,jdbcType=VARCHAR}
    </select>

    <select id="selectbySelective" parameterType="com.neighbor.common.websoket.po.SocketMessage"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat_message
        <include refid="dynamicWhere"/>
        order by date,time
    </select>
    
    <select id="selectMsgByTargetGroupIdStatus" parameterType="Map"
            resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List"/>
		from chat_message c
		where not exists(
			select * from msg_group_menber_relationship 
			where c.msg_id=r_msg_id and r_user_id= #{userId}
		)
		and status='pushed_response'
		and chat_type='multiple'
		and target_group_id=#{targetGroupId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from chat_message
		where msg_id = #{msgId,jdbcType=BIGINT}
	</delete>

    <insert id="insertRelationShipSelective" parameterType="com.neighbor.common.websoket.po.GroupMsgRalation">
		insert into msg_group_menber_relationship (r_msg_id,r_user_id,status)
		values(#{msgId},#{userId},#{status})
	</insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="msgId"
            parameterType="com.neighbor.common.websoket.po.SocketMessage">
        insert into chat_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requestId != null">
                request_id,
            </if>
            <if test="header != null">
                header,
            </if>
            <if test="masterMsgType != null">
                master_msg_type,
            </if>
            <if test="chatType != null">
                chat_type,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sendUserId != null">
                send_user_id,
            </if>
            <if test="targetUserId != null">
                target_user_id,
            </if>
            <if test="targetGroupId != null">
                target_group_id,
            </if>
            <if test="bizId != null">
                biz_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="sendUserDeleteFlag != null">
                send_user_delete_flag,
            </if>
            <if test="targetUserDeleteFlag != null">
                target_user_delete_Flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requestId != null">
                #{requestId,jdbcType=VARCHAR},
            </if>
            <if test="header != null">
                #{header,jdbcType=VARCHAR},
            </if>
            <if test="masterMsgType != null">
                #{masterMsgType},
            </if>
            <if test="chatType != null">
                #{chatType,jdbcType=VARCHAR},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="sendUserId != null">
                #{sendUserId,jdbcType=BIGINT},
            </if>
            <if test="targetUserId != null">
                #{targetUserId,jdbcType=BIGINT},
            </if>
            <if test="targetGroupId != null">
                #{targetGroupId,jdbcType=BIGINT},
            </if>
            <if test="bizId != null">
                #{bizId,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=VARCHAR},
            </if>
            <if test="sendUserDeleteFlag != null">
                #{sendUserDeleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="targetUserDeleteFlag != null">
                #{targetUserDeleteFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.neighbor.common.websoket.po.SocketMessage">
        update chat_message
        <set>
            <if test="header != null">
                header = #{header,jdbcType=VARCHAR},
            </if>
            <if test="masterMsgType != null">
                master_msg_type = #{masterMsgType},
            </if>
            <if test="chatType != null">
                chat_type = #{chatType,jdbcType=VARCHAR},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="sendUserId != null">
                send_user_id = #{sendUserId,jdbcType=BIGINT},
            </if>
            <if test="targetUserId != null">
                target_user_id = #{targetUserId,jdbcType=BIGINT},
            </if>
            <if test="targetGroupId != null">
                target_group_id = #{targetGroupId,jdbcType=BIGINT},
            </if>
            <if test="bizId != null">
                biz_id = #{bizId,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=VARCHAR},
            </if>
            <if test="sendUserDeleteFlag != null">
                send_user_delete_flag = #{sendUserDeleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="targetUserDeleteFlag != null">
                target_user_delete_Flag = #{targetUserDeleteFlag,jdbcType=VARCHAR},
            </if>

        </set>
        where msg_id = #{msgId,jdbcType=BIGINT}
    </update>

    <update id="changeRecord" parameterType="java.util.Map">
        update chat_message
        <set>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where
        <![CDATA[  msg_id <= #{msgId,jdbcType=BIGINT} and target_user_id = #{userId,jdbcType=BIGINT} ]]>
        <if test="masterMsgType != null and  masterMsgType.length>0"> and  master_msg_type = #{masterMsgType} </if>
        <if test="changePushed != null and  changePushed.length>0"> and status='pushed_response' </if>
        <if test="changeComplete != null and  changeComplete.length>0"> and status='pushed'  </if>
        <if test="friendId != null "> and send_user_id = #{friendId,jdbcType=BIGINT}  </if>
    </update>

    <update id="deleteMessage" parameterType="com.neighbor.common.websoket.po.SocketMessage">
        update chat_message
        <set>
            <if test="sendUserDeleteFlag != null">
                send_user_delete_flag = #{sendUserDeleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="targetUserDeleteFlag != null">
                target_user_delete_Flag = #{targetUserDeleteFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where  master_msg_type='1'
        <if test="sendUserId != null" >and send_user_id=#{sendUserId}</if>
        <if test="targetUserId != null">and target_user_id=#{targetUserId}</if>
        <if test="date != null and date.length>0">and date=#{date}</if>
        <if test="time != null and time.length>0">and time=#{time}</if>
    </update>

    <update id="jobDeleteMessage" parameterType="com.neighbor.common.websoket.po.SocketMessage">
        update chat_message
        <set>
            <if test="sendUserDeleteFlag != null">
                send_user_delete_flag = #{sendUserDeleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="targetUserDeleteFlag != null">
                target_user_delete_Flag = #{targetUserDeleteFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where master_msg_type='1'
        <if test="sendUserId != null">and send_user_id=#{sendUserId}</if>
        <if test="targetUserId != null">and target_user_id=#{targetUserId}</if>
        <if test="cleanHistory == 'oneHour'"><![CDATA[ and hour(timediff(date_format(now(),'%Y-%m-%d %H:00:00'),CONCAT(date,' ',left(time,2),':00:00'))) >1 ]]> </if>
        <if test="cleanHistory == 'twelveHours'"> <![CDATA[ and  hour(timediff(date_format(now(),'%Y-%m-%d %H:00:00'),CONCAT(date,' ',left(time,2),':00:00'))) >12 ]]> </if>
        <if test="cleanHistory == 'oneDay'"><![CDATA[ and date < date_format(now(),'%Y-%m-%d') ]]> </if>
        <if test="cleanHistory == 'threeDay'"><![CDATA[ and TIMESTAMPDIFF(DAY,date,date_format(now(),'%Y-%m-%d')) >= 3 ]]> </if>
        <if test="cleanHistory == 'sevenDay'"><![CDATA[ and TIMESTAMPDIFF(DAY,date,date_format(now(),'%Y-%m-%d')) >= 7 ]]> </if>
    </update>

    <update id="updateGroupMsgRalationStatusRecord" parameterType="java.util.Map">
		update msg_group_menber_relationship r
		inner join chat_message c on c.msg_id = r.r_msg_id
		set r.status = #{status,jdbcType=VARCHAR}
		
		where r_user_id = #{userId,jdbcType=VARCHAR}
		<if test="msgIdGreater != null">
		<![CDATA[ 
         and r_msg_id <= #{msgIdGreater,jdbcType=BIGINT} 
        ]]> 
        </if>
		<if test="msgId != null">
		<![CDATA[ 
         and r_msg_id = #{msgId,jdbcType=BIGINT} 
        ]]> 
        </if>
        and r.status not in ('complete')
		and c.target_group_id = #{targetGroupId,jdbcType=BIGINT} 
        
    </update>
    
</mapper>