<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.app.transfer.dao.TransferMapper">
  <resultMap id="BaseResultMap" type="com.neighbor.app.transfer.entity.Transfer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="transfer_way" jdbcType="CHAR" property="transferWay" />
    <result column="transfer_user_id" jdbcType="BIGINT" property="transferUserId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="states" jdbcType="CHAR" property="states" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, create_time, update_time, u_id, transfer_way, transfer_user_id, amount, 
    states, remarks
  </sql>
  
    
  <sql id="dynamicWhere">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="uId != null">and u_id=#{uId}</if>
			<if test="transferUserId != null ">and transfer_user_id=#{transferUserId}</if>
			<if test="transferWay != null and transferWay.length()>0">and transfer_way=#{transferWay}</if>
			<if test="states != null and states.length()>0">and states=#{states}</if>
			<if test="orderNo != null and orderNo.length()>0">and order_no=#{orderNo}</if>
		</where>
	</sql>
	
  <select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from transfer
		order by create_time
  </select>
  
	<select id="selectPageByObjectForList" parameterType="com.neighbor.app.transfer.entity.Transfer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from transfer
		<include refid="dynamicWhere" />
		order by create_time desc
		limit #{pageTools.rowIndex},#{pageTools.pageSize}
	</select>
	
	<select id="selectPageTotalCount" parameterType="com.neighbor.app.transfer.entity.Transfer"
		resultType="Long">
		select
			count(1)
		from transfer
		<include refid="dynamicWhere" />
	</select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transfer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from transfer
    where id = #{id,jdbcType=BIGINT}
  </delete>
 
  <insert id="insertSelective" parameterType="com.neighbor.app.transfer.entity.Transfer">
    insert into transfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="transferWay != null">
        transfer_way,
      </if>
      <if test="transferUserId != null">
        transfer_user_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="transferWay != null">
        #{transferWay,jdbcType=CHAR},
      </if>
      <if test="transferUserId != null">
        #{transferUserId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="states != null">
        #{states,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neighbor.app.transfer.entity.Transfer">
    update transfer
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="transferWay != null">
        transfer_way = #{transferWay,jdbcType=CHAR},
      </if>
      <if test="transferUserId != null">
        transfer_user_id = #{transferUserId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
 
</mapper>