<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.app.users.dao.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.neighbor.app.users.entity.UserInfo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="user_account" jdbcType="VARCHAR" property="userAccount" />
		<result column="user_password" jdbcType="VARCHAR" property="userPassword" />
		<result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
		<result column="real_name" jdbcType="VARCHAR" property="realName" />
		<result column="wechat" jdbcType="VARCHAR" property="wechat" />
		<result column="qq" jdbcType="VARCHAR" property="qq" />
		<result column="robot_sno" jdbcType="VARCHAR" property="robotSno" />
		<result column="upuser_id" jdbcType="BIGINT" property="upuserId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="regional" jdbcType="VARCHAR" property="regional" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_photo, nick_name, user_account, user_password, qr_code, sex,
		mobile_phone,
		real_name, wechat, qq, robot_sno, upuser_id, create_time, update_time, remark,regional
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from users_info
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByUserPhone" parameterType="String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from users_info
		where mobile_phone = #{phone}
	</select>

	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from users_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	 
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.neighbor.app.users.entity.UserInfo">
		insert into users_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userPhoto != null">
				user_photo,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="userAccount != null">
				user_account,
			</if>
			<if test="userPassword != null">
				user_password,
			</if>
			<if test="qrCode != null">
				qr_code,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="mobilePhone != null">
				mobile_phone,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="wechat != null">
				wechat,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="robotSno != null">
				robot_sno,
			</if>
			<if test="upuserId != null">
				upuser_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="regional != null">
				regional,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userPhoto != null">
				#{userPhoto,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="userAccount != null">
				#{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userPassword != null">
				#{userPassword,jdbcType=VARCHAR},
			</if>
			<if test="qrCode != null">
				#{qrCode,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null">
				#{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="wechat != null">
				#{wechat,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="robotSno != null">
				#{robotSno,jdbcType=VARCHAR},
			</if>
			<if test="upuserId != null">
				#{upuserId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="regional != null">
				#{regional,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.neighbor.app.users.entity.UserInfo">
		update users_info
		<set>
			<if test="userPhoto != null">
				user_photo = #{userPhoto,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="userAccount != null">
				user_account = #{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userPassword != null">
				user_password = #{userPassword,jdbcType=VARCHAR},
			</if>
			<if test="qrCode != null">
				qr_code = #{qrCode,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null">
				mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="wechat != null">
				wechat = #{wechat,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="robotSno != null">
				robot_sno = #{robotSno,jdbcType=VARCHAR},
			</if>
			<if test="upuserId != null">
				upuser_id = #{upuserId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="regional != null">
				regional = #{regional,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	 
</mapper>