<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>脸过敏红，肿，痒怎么办?免费领取科学抗敏方案！</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" href="css/shan.css">

<script>
	setFontSize();
	window.addEventListener("resize", setFontSize, false);
	function setFontSize() {
		var clientW = document.documentElement.clientWidth;
		if (clientW > 640) {
			clientW = 640
		}
		document.documentElement.style.fontSize = clientW / 6.4 + "px"
	};
</script>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>






</head>
<body>

	<div class="zjList" style="z-index: 99999999999">
		<div class="kfDel"></div>
		<div class="kfSub">
			<div class="kfPic"></div>
			<div class="kfInfo" style="font-size: 12px;">
				老师简述：<br />从事祛斑美白研究工作近十年，秉持天然、高效的祛斑理念，淡斑活性成分渗透至皮肤底层将色素分解，改善皮肤微循环平衡功能，在家祛斑，做到一次祛斑受益一生；已成功使超过30000人祛斑成功！
			</div>
		</div>
		<div class="zjClear"></div>
		<div class="wxSub">
			<p class="wxh">
				老师微信号：<span flag="wx" class="wx worker"></span>
			</p>
			<p class="add" style="font-size: 14px;">【复制添加成为好友，针对性指导】</p>
			<p class="act">祛斑美白只差1个复制添加的动作！</p>
		</div>
	</div>




	<div class="wrap">

		<div id="mbody2"></div>

		<h1 class="title space">脸过敏红，肿，痒怎么办?免费咨询！</h1>
		<!--<div class="time space">2018-05-20</div>-->
		<div class="head clearfix space">
			<div class="icon_teach_85">
				<img src="images/1.jpg" alt="">
			</div>
			<div class="head_text">
				<span class="gren">敏感肌护肤导师：婷婷老师</span><br>
				专注解决敏感肌肤护理与指导，脸红，肿，痒，脱皮，起疙瘩等问题的缓解改善！


			</div>
		</div>
		<div class="animated infinite heart">
			<div class="zx_btn">
				<div class="btn11">
					<span>免费咨询</span>
				</div>
			</div>
		</div>
		<!--<div class="problen">
			<div class="space angle">
				<p>
					<span class="bigsize">问题描述：</span>
					<p>姓名:沈洁     性别:女     年龄:26</p>过敏史有3年，每年春天花粉过敏，有时夏天紫外线过敏，但涂了软膏，3~5天左右就好了。但最近这次过敏都快半个多月。求救，我的脸要怎么才能修护呢？
				</p>
				<!--<p class="analysis">
					<span class="bigsize">状况分析：</span>导致过敏的原因包括换季、花粉、柳絮、粉尘、螨虫、紫外线等。但这些都是外因，任何形式导致的过敏，归根结底都是因为角质变薄，肌肤耐受力下降。
				</p> 
			</div>
		</div>-->
		<div class="record">咨询记录</div>
		<div class="chat_record space">
			<ul class="clearfix">

				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">你好，我是护肤老师婷婷，你遇到了哪些肌肤问题？</div>
				</li>

				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">老师你好，我脸上发红发痒，还起小疙瘩，请问是过敏了吗？</div>
				</li>
				<!--<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">
						你好，我是婷婷护肤老师，建议你先加我微信：<span><b class="red wxcopy" style="font-size:1.2em"><span flag="wx" class="wx worker"></span></b></span> ，进行肤质测试，2分钟后查收你的测试结果！
					</div>
				</li>-->
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">方便发张照片吗？有助于了解你皮肤的具体情况。</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="pic">
						<img src="images/pic_1.jpg" alt="">
					</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">嗯嗯看到了，皮肤问题虽然有些严重，但也还是能修护好的，这种情况出现多久了？
					</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">
						10多天了，之前也出现过这种情况，没这么严重，只是红痒有点脱皮，摸摸软膏就好点，这次不光没好，反而更严重了！</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">
						现在出门老被人盯着看，周围同事也窃窃私语的，浑身难受，心情也很不好，现在都不知道怎么办了，我还有救吗？</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">
						你别着急，先听我跟你分析，首先使用软膏是错误的做法，因为软膏里含有大量的激素成份，看似缓解了肌肤问题，其实严重破坏了皮肤屏障，这也是为什么你过敏反复不好的原因。
					</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">所以我建议你首先停用软膏，避免肌肤二次伤害，受损越严重，修护难度就越大。</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">明白了。难怪这么久皮肤一直不好，那我该怎么做？我还能好吗？</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">
						你的角质层已经受损，就好比保护脸部的盔甲被破坏了。加上软膏的刺激，已经让你变成了敏感肌。</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">
						修护过敏之余，要想以后也不过敏，就得从改变肤质入手。</span>
					</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">改变肤质是什么意思？我的肤质也能改变吗？</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">
						通过专业护理，敏感肌肤可改变为抗敏肌肤，改变肤质的同时增强肌肤抵抗力，从而不再过敏。我护理过上万例敏感问题，通过<span
							class="red">改变肤质，抗敏率能达到97.37%。</span>
					</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">那么多人经过护理都不过敏了，所以你也不用担心，是能变好的！</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">像我这种肌肤应该用哪种护理方案？我能加你微信详聊吗？</div>
				</li>
				<li class="left">
					<div class="icon_avatar">
						<img src="images/1.jpg" alt="">
					</div>
					<div class="rectangle">
						可以啊，我的私人微信号是<span class="red wxcopy"><span class="go">
								<span flag="wx" class="wx worker"></span>
						</span></span> ，你跟我发个消息，我把你的抗敏方案发给你。
					</div>
				</li>
				<li class="right">
					<div class="icon_avatar">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="rectangle">好的，马上加，留意通过一下我，谢谢老师！！</div>
				</li>
			</ul>
		</div>
		<p class="test_title">完成下方肤质测试，获取最适合你的抗敏方案！</p>
		<div class="m-footer">(测试结果仅用于婷婷老师分析使用)</div>
		<div class="content">
			<div class="thame_pic top">
				<div class="menu clearfix">
					<ul>
						<li class="on" id="csbt" style="width: 100%; color: #1d1d1d;">已有<span
							style="color: #fd2323; font-weight: 700;">87636</span>人完成测算，准确率 <span
							style="color: #fd2323; font-weight: 700;">97.32%</span></li>
						<!--<li class="">粉丝留言</li> -->
					</ul>
				</div>
				<div class="change clearfix">
					<div id="case" style="display: block;">
						<div id="swiper_container">
							<div class="swiper-container swiper-container-horizontal"
								style="height: 4rem;">
								<div class="swiper-wrapper notmove">
									<div class="swiper-slide swiper-slide-active">
										<div class="first" id="first">

											<h3>1.你的年龄是？</h3>
											<ul class="clearfix">
												<li>16岁以下</li>
												<li>16岁-18岁</li>
												<li>18岁-28岁</li>
												<li>28岁以上</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>2.你的皮肤性质是？</h3>
											<ul class="clearfix" id="second">
												<li>偏油</li>
												<li>偏干</li>
												<li>混合型</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>3.您过敏多久了？</h3>
											<ul class="clearfix" id="second">
												<li>1周以内</li>
												<li>1周以上</li>
												<li>超过半年</li>
												<li>超过一年</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>4.皮肤是否容易发红或者发痒？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>5.皮肤是否容易长痘痘？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>6.皮肤是否经常干燥缺水？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>7.是否用过含激素的软膏？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>8.皮肤是否比较薄？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>9.您是否有去角质的习惯？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>10.您是否有化妆的习惯？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>11.您多久用一次面膜？</h3>
											<ul class="clearfix" id="second">
												<li>每天都用</li>
												<li>一周两次</li>
												<li>每月一次</li>
												<li>基本不用</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="first">
											<h3>12.是否经常用热水洗脸？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
											</ul>
										</div>
									</div>

									<div class="swiper-slide">
										<div class="first">
											<h3>13.一天洗脸两次以上？</h3>
											<ul class="clearfix" id="second">
												<li>是</li>
												<li>否</li>
												<p>
													<a id="submit_btn">提交</a>
												</p>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="comment" style="display: none;">
			<ul>
				<li style="margin-top: 0.4rem;">
					<div>
						<p
							style="background: #f4f4f4; border: 1px solid #e3e3e3; border-radius: 0.06rem; padding: 0.1rem; font-size: 20px; text-indent: 2em; color: #EF0408;">您已完成全部测试，请在2分钟内添加婷婷老师微信，查收您的测试分析结果！
						</p>
					</div>
					<div class="prx">
						<div class="Mask_txtx">
							<p
								style="text-align: center; margin-top: .24rem; font-size: .24rem; color: #9b9b9b;">长按微信号拷贝/复制,点开微信，右上角有个"十"的符号，选择"添加朋友"，然后粘贴</p>
							<div class="Mask_wechat" style="">
								<span style="width: 100%; color: #fff; font-weight: bold"
									class="wxcopy"> <span class="go"> <span flag="wx"
										class="wx worker"></span>
								</span>
								</span>
							</div>
							<p
								style="text-align: center; margin-top: .24rem; font-size: .26rem; color: #9b9b9b;">第二步：复制微信后，去微信加好友。</p>
							<!-- <center>
                                <a href="weixin_3A//default.htm" onclick="PIWI_SUBMIT.Weixin_Open()">
                                    <font color="#ff0000">打开微信添加</font>
                                </a>
                            </center>-->
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="comment">
			<div class="co_title">热门评论</div>
			<ul>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_1.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							王弯弯<span class="grey">天津</span>
						</p>
						<p class="main">全靠婷婷老师的帮忙！我终于去掉脸上的过敏，咨询还是免费的，太给力了</p>
						<p class="data">1天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_2.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							茜茜<span class="grey">河北</span>
						</p>
						<p class="main">
							很多人不知道怎么添加婷婷老师微信，大家只要复制微信号：<span><b class="red wxcopy"
								style="font-size: 1.2em"><span flag="wx" class="wx worker"></span></b></span>
							，再去微信添加好友，就可以了！

						</p>
						<p class="data">1天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_client.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							沈洁<span class="grey">广州</span>
						</p>
						<p class="main">
							我是回来感谢婷婷老师的~真的出乎我意料，3天基本上我脸上红肿痒都消了。调理肤质之后皮肤都细滑了，我感觉脸上的角质层都越来越厚了,真的太激动了！！！强烈推荐！！！姐妹们如果有过敏问题，都可以咨询婷婷老师，亲测有效！！
						</p>
						<div class="pic_1">
							<img src="images/pic_2.jpg" alt="">
						</div>
						<p class="data">3天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_3.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							莉莉lily<span class="grey">湖南</span>
						</p>
						<p class="main">
							25岁，脸上过敏1年多，婷婷老师我也加了，后来才知道原来老师是一些明星的私人肌肤顾问，太牛了...虽然这样，平时一点架子都没，很友善，大家看看我调理好的样子，是不是跟变了一个人似的，好开心~
						</p>
						<div class="pic_1">
							<img src="images/p1.jpg" alt="" style="width: 80%">
						</div>
						<!--<div class="pic_2">
							<img src="images/pic_3.jpg" alt="">
						</div> -->
						<p class="data">3天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_4.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							NONO是我<span class="grey">广州</span>
						</p>
						<p class="main">
							终于有希望了，555555555，已经关注了婷婷老师，使用了老师推荐的产品，效果很不错，希望我也可以快点达到抗敏肌肤的水准。</p>
						<p class="data">3天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_5.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							喜欢的就是你<span class="grey">辽宁</span>
						</p>
						<p class="main">
							从来没想到，我原来21岁开始一直过敏的原因是因为肤质问题。早点看到这个就好了，很幸运获得了婷婷老师（长按复制微信号 <span><b
								class="red wxcopy" style="font-size: 1.2em"><span flag="wx"
									class="wx worker"></span></b> </span>）咨询名额！
						</p>
						<p class="data">3天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_6.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							我说我很萌<span class="grey">湛江</span>
						</p>
						<p class="main">
							婷婷老师昨天帮我分析了我过敏的原因，给我提了好多意见，现在正用婷婷老师推荐的护理产品和方法，就几天时间过敏问题就明显改善了~太好了
						</p>
						<p class="data">3天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_7.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							琳琳<span class="grey">西安</span>
						</p>
						<p class="main">
							刚用婷婷老师推荐的护理产品和方法开始护理肤质，本人是激素依赖性过敏...目前15天，明显好转..继续努力</p>
						<p class="data">3天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_8.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							后来的我们<span class="grey">北京</span>
						</p>
						<p class="main">
							怀孕的时候过敏最难受了！很多禁忌都需要特别注意，感谢婷婷老师的帮助，让孕期过敏的我安全度过这段特殊时期，下个月就要生宝宝了，脸上过敏一点痕迹都没有了，谢谢！

						</p>
						<div class="pic_1">
							<img src="images/p2.jpg" alt="" style="width: 90%">
						</div>
						<p class="data">4天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_9.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							安雅AVE<span class="grey">深圳</span>
						</p>
						<p class="main">过敏毁一生，这话真的没错..大部分过敏的人，如果不过敏都会自信乐观很多，过敏真的太烦人了。
						</p>
						<p class="data">4天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_10.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							透明人无心人<span class="grey">云南</span>
						</p>
						<p class="main">
							以前过敏的时候真的很烦，自己胡乱琢磨各种方法和产品，结果好了又来...教训奉劝大家，要真正变成抗敏肌肤还是要找个老师比较好，，不要自己乱来了，其实方法正确了，达到抗敏肌肤其实不难。
						</p>
						<p class="data">4天前</p>
					</div>
				</li>
				<li class="part">
					<div class="icon_pic">
						<img src="images/icon_pic_11.png" alt="">
					</div>
					<div class="part_text">
						<p class="name">
							水瓶半夏詩光<span class="grey">湖北</span>
						</p>
						<p class="main">
							这几天一直坚持用婷婷老师建议的护理产品和方法，最近过敏的情况每天都有不同程度的好转，我要坚持下去，我相信婷婷老师。等全好了一定要好好谢谢她！
						</p>
						<p class="data">5天前</p>




						<!--<div style="position: fixed;bottom: 0;background: #F1003C;border-top: 1px ;width: 100%; height:70px;  font-size: 18px;padding:1px;left:0px;z-index:99999"><table style=" border:none"><tbody style=" border:none;"><tr><td style="padding-left:0px; padding-top:0px"><img src="images/1.jpg" width="60px" style="float:left;"></td>
<td style="    padding-left:1px; padding-top:0px;"><span style="color: #F8F4F4; font-size:18px;">肌肤敏感问题在线咨询：&nbsp;&nbsp;&nbsp;</span><span style="font-size:21px"></span>&nbsp;<b><span class="go"  style="background: #F8F4F4;border-radius:8px;color: #ff0000; font-size:24px; font-weight:600; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px;"><span flag="wx" class="wx worker"></span></span></b><br></td></tr></tbody></table></div> 
-->



						<div
							style="position: fixed; bottom: 0; background: #F1003C; border-top: 1px; width: 100%; height: 70px; font-size: 16px; padding: 1px; left: 0px; z-index: 99999">
							<table style="border: none">
								<tbody style="border: none;">
									<tr>
										<td style="padding-left: 0px; padding-top: 0px"><img
											src="images/1.jpg" width="60px" style="float: left;"></td>
										<td style="padding-left: 1px; padding-top: 0px;"><span
											style="color: #F8F4F4; font-size: 18px;">肌肤敏感问题咨询微信：&nbsp;&nbsp;&nbsp;</span><b><span
												class="go"
												style="background: #F8F4F4; border-radius: 8px; color: #ff0000; font-size: 20px; font-weight: 600; padding-left: 2px; padding-right: 2px; padding-top: 3px; padding-bottom: 3px;"><span
													flag="wx" class="wx worker"></span></span></b><br>
										<span style="color: #1387F0; font-size: 15px;"> </b></span>
										<!--<a href="weixin://?qz_gdt=nicd4wbmaaalnplsi5eq" onclick="PIWI_SUBMIT.Weixin_Open()" style="white-space: nowrap; color: rgb(255, 0, 0); text-decoration: underline;"><span style="font-size: 15px; font-weight: 700; white-space: nowrap; color: rgb(255, 0, 0);">去微信<mark class='mark-wx_text'></mark>&gt;</span></a>--></td>
									</tr>
								</tbody>
							</table>
						</div>


						<div id="tanchuang_result">
							<a class="a1" href="javascript:void(0);">×</a>
							<!--<p style="font-size: 16px;"><b>长按下方微信号</b></p> -->
							<p style="font-size: 18px; padding-bottom: 10px;">
								<b>肌肤敏感问题在线咨询：</b>
							</p>
							<p class="wxh" align="center">
								<span style="color: white;" class="copy t_wx statistics02"><span
									class="go"> <span flag="wx" class="wx worker"></span>
								</span></span>
							</p>
							<p align="center" class="" style="color: #fb3f40">
								<b>长按复制微信号</b>
							</p>
							<!--<p><b>（在线一对一为你解答）</b></p> -->
							<!-- <p style="background: #0961C2;"><a class="towx" href="weixin://?qz_gdt=nicd4wbmaaalnplsi5eq" onclick="PIWI_SUBMIT.Weixin_Open()" style="color: #fff">去微信&gt;</a></p> -->
						</div>

						<style type="text/css">
#tanchuang_result {
	border-radius: 10px;
	box-shadow: 0 0 10px #ddd;
	background-color: #fff;
	border: 3px solid #76ac3d;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 95%;
	max-width: 400px;
	padding-top: 26px;
	display: none;
	z-index: 999;
	font-size: 18px;
	font-family: "microsoft yahei";
}

#tanchuang_result p {
	margin-bottom: 10px;
}

#tanchuang_result img {
	width: 80%;
}

#tanchuang_result .wxh {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/*background: url(img/dot1.jpg) repeat-x left center;*/
}

#tanchuang_result .wxh span {
	display: inline-block;
	background: #76ac3d;
	color: #fff;
	font-size: 30px;
	padding: 8px 15px;
	line-height: 35px;
	border-radius: 8px;
	position: relative;
}

#tanchuang_result .wxh span:after {
	content: "";
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 8px;
}

#tanchuang_result p:first-child {
	color: #2e3641;
	font-size: 22px;
}

#tanchuang_result p:nth-child(3) {
	color: #2e3641;
	margin-bottom: 2px;
}

#tanchuang_result p:nth-child(4) a {
	text-decoration: underline;
}

#tanchuang_result p:nth-child(4) a:hover {
	color: green;
}

#tanchuang_result p:nth-child(4) {
	color: #2e3641;
	font-size: 16px;
}

@media screen and (max-width: 360px) {
	#tanchuang_result p:nth-child(4) {
		font-size: 14px;
	}
}

#tanchuang_result p:last-of-type {
	margin: 0;
	padding: 15px 0;
	border-radius: 0 0 10px 10px;
	background:
		url(../../t1234567.b0.upaiyun.com/heifa/files07/icon_wechat_small.png)
		no-repeat center center;
	background-position: 30%;
	color: #fff;
	text-indent: 20px;
	background-size: auto 80%;
}

#tanchuang_result>.a1 {
	position: absolute;
	top: 0%;
	right: 0px;
	display: block;
	width: 10%;
	height: 7%;
	text-align: center;
	color: #999;
	font-size: 32px;
	text-decoration: none;
	line-height: 100%;
}
</style>

	<script>
		$(document).ready(function() {
			var ves = $;
			$('.a1').click(function(event) {
				$('#tanchuang_result').css('display', 'none');
				$('body').css('overflow', '').css('position', '')
			});
			$('.btn11').click(function(event) {
				$('#tanchuang_result').css('display', 'block');
				$('body').css('overflow', 'hidden').css('position', 'relative')
			})
			$('.a1').click(function() {
				$('#tanchuang_result').hide();
			})
		})
	</script>



						<div
							style="text-align: center; margin-top: 100px; margin-bottom: 10px; font-size: 12px; color: #867E7E;">
							版权所有：深圳市东企科技有限公司<br>

						</div>
						<br>
					</div>
		</div>
		</li>

		</ul>
	</div>

	<!--<div class="bottom"><img src="images/bottom.jpg" alt=""></div>-->
	<div class="pop_tc clearfix">
		<div class="tc clearfix">
			<div class="avtar">
				<img src="images/1.jpg" alt="">
			</div>
			<div class="close">X</div>
			<div class="wp">
				<p class="wp_txt">
					咨询婷婷老师肌肤问题 <br> 抽10人免费定制抗敏方案！ <br>

				</p>
				<p class="places"></p>
				<span class="wxcopy wxbtn"><span><span class="go">
							<span flag="wx" class="wx worker"></span>
					</span></span></span>
				<!--<a href="weixin_3A//default.htm" class="places">去微信</a>-->
			</div>
		</div>
	</div>
	</div>
	<!--s<script>
		$(function() {
            //$(document).on("copy", ".wxcopy", copyHandle);
            //function copyHandle() {
				//window.location.href = 'weixin://';
           // };
            $('.zx_btn,.bottom').on('click',function(){
            	$('.pop_tc').show();
            });
            $('.close').on('click',function(){
            	$('.pop_tc').hide();
            });
            // 弹窗
		    (function(window, location) {
		        history.replaceState(null, document.title, location.pathname + "#!/stealingyourhistory");
		        history.pushState(null, document.title, location.pathname);
		        window.addEventListener("popstate", function() {
		            if (location.hash === "#!/stealingyourhistory") {
		                history.replaceState(null, document.title, location.pathname);
		                setTimeout(function() {
		                    $('.pop_tc').css('display', 'block');
		                }, 0);
		            }
		        }, false);
		    }(window, location));

	        });
	</script>-->
	<script src="js/app.js"></script>
	<script>
		$(function() {
			var h = $("#mbody2").offset().top;
			setTimeout(function() {
				$("body, html").scrollTop(h);
			}, 300);
		});
	</script>





	<script language="javascript">
		var wxArr = [ 'gcdq1667', 'gcdq1668', 'gcdq1668', 'gcdq1667',
				'gcdq1668', 'gcdq1667' ];

		var Cookies = {};
		//保存Cookies----参数na为名称;va为值;s为有效时间（单位/小时）3600000=60*60*1000
		Cookies.Set = function(na, va, s) {
			var da = new Date();
			da.setTime(da.getTime() + 3600000 * s);
			document.cookie = na + "=" + escape(va) + "; expires="
					+ da.toGMTString() + "; path=/; true";
		}
		//获取Cookies----参数na为指定名称
		Cookies.Get = function(na) {
			var Harr = document.cookie.split("; ");
			for (var i = 0; i < Harr.length; i++) {
				var Arr = Harr[i].split("=");
				if (Arr[0] == na)
					return unescape(Arr[1]);
			}
			return "";
		}
		var wxh = 'wxqb';
		var _wx = Cookies.Get(wxh);
		if (_wx == 'undefined' || _wx == '') {
			var wxOn = 0;
			var len = wxArr.length;
			if (len > 1) {
				var myDate = new Date().getMinutes();
				if (myDate > 1 && myDate < 60) {
					wxOn = Math.floor(myDate / 2);
				}
				if (wxOn >= len)
					wxOn = wxOn - len * Math.floor(wxOn / len);
			}
			var _wxh = wxArr[wxOn];
			if (_wxh == 'undefined' || _wxh == '')
				_wxh = wxArr[0];
			_wx = _wxh;
			Cookies.Set(wxh, _wx, 1);
		}
		$(".wx").html(_wx);
		$(".qq").html(wxArr);
		$(".kfDel").click(function() {
			$(".zjList").hide();
		});
		eval(function(p, a, c, k, e, r) {
			e = function(c) {
				return c.toString(a)
			};
			if (!''.replace(/^/, String)) {
				while (c--)
					r[e(c)] = k[c] || e(c);
				k = [ function(e) {
					return r[e]
				} ];
				e = function() {
					return '\\w+'
				};
				c = 1
			}
			;
			while (c--)
				if (k[c])
					p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
			return p
		}
				(
						'a 4=0;$(8).9(5(){6(1.2&&1.2.7){$(1).b(\'c\',5(){4++;$(\'.d\').e()});6(4<3)1.2.7(\'f\',g)}})',
						17,
						17,
						'|window|history||zjCount|function|if|pushState|document|ready|var|on|popstate|zjList|show|forward|null'
								.split('|'), 0, {}));
		var baid = 0;
		var batime = 6000;
		function GetBa() {
			if (baid == 0) {
				baid = 1;
				batime = 3000;
			} else {
				baid = 0;
				batime = 6000;
			}
			$('#banner').attr('src', 'images/b' + baid + '.jpg');
			setTimeout("GetBa()", batime);
		}
		setTimeout("GetBa()", batime);
		document.body.oncopy = function() {
			//window.location.href = "weixin://"
		}
	</script>


</body>



</html>
