<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
		<div th:fragment="container-fluid"  class="container-fluid">
			<script type="text/javascript">
				$(function(){
					pageQueryParams.index = '[[${pageTools.index}]]';
					pageQueryParams.pageSize = '[[${pageTools.pageSize}]]';
					pageQueryParams.total = '[[${pageTools.total}]]';
					
					$("#queryBTN").click(function(){
						var dataParams = $("#queryFrom").serialize(); 
						pageQueryParams.fromQueryData=dataParams;
						render(pageQueryParams);  // 渲染页面函数
					});
					
					$("[data-toggle='popover']").popover();
					
					initTimePicker();
					
					$("a[data-user-id]").click(function(){
						var id = $(this).attr("data-user-id");
						var targetUrl = "/userList/pwdReset.ser";
						$.ajax({ 
							type:'post',  
							url:targetUrl, 
							cache: false,
							data:{userID:id},  
							dataType:'json', 
							success:function(data){  
								toastr.success("密码重置成功"); 
								render(pageQueryParams);  // 渲染页面函数
							},
							error:function(data){ 
								if(data.responseJSON){
									toastr.error(dataParams+"密码重置失败:"+data.responseJSON.message); 
								}
							}
						})
					});
					
				});
			</script>
			<h3 class="page-title">客服信息</h3>
			<div class="row">
				<div class="col-md-12">
					<!-- TABLE HOVER -->
					<div class="panel panel-info">
						<form class="form-inline" id="queryFrom">
							<div class="panel-body">

									<div class="form-group col-sm-2">
										<label>类型</label><br>
										<input type="text" class="form-control"  placeholder="类型" name="cmsType"
											th:attr="value=${queryObject==null}?'':${queryObject.cmsType}">
									</div> 
							</div>
							<div class="panel-body border-up-down">
									<div class="btn-right"> 
										<div class="btn-group">
											<button id="queryBTN" type="button" class="btn btn-default">
											<i class="fa fa-search"></i> 查询
											</button>
										</div>
										<div class="btn-group" style="margin:0px 5px;">
											<a class="btn btn-default" th:attr="href='/userList/primaryModalView.ser?modifyModel=userInfoAdd.ser&id='" 
												data-toggle="modal" data-target="#ModifyModal"> 
												 <span class="fa fa-plus-square"></span>&nbsp;添加
											</a>
										</div>
										
									</div>
							</div>
						</form>
						<div class="panel-body table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>类型</th>
										<th>位置</th>
										<th>url</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj : ${resultList}">
										<td th:text="${obj.cmsType}"></td>
										<td th:text="${obj.position}"></td>
										<td th:text="${obj.url}"></td>
										<td>
											<div class="btn-group">
												<a class="btn btn-default btn-sm " data-toggle="modal" data-target="#ModifyModal"
													th:attr="href='/userList/primaryModalView.ser?modifyModel=userInfoEdit.ser&id='+${obj.id}" > 
													 <span class="glyphicon glyphicon-edit"></span>&nbsp;更新
													 <i class="icon-star"></i>
												</a>
												<a class="btn btn-default btn-sm"  th:attr="data-user-id=${obj.id}"> 
													 <span class="glyphicon glyphicon-cog"></span>&nbsp;密码重置
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="panel-footer">
							<ul class="pagination" >

							</ul>
						</div>
					</div>
					<!-- END TABLE HOVER -->
				</div>
			</div>
		</div>
</body>
</html>